deep-learning笔记.aux
deep-learning笔记.bbl
deep-learning笔记.blg
deep-learning笔记.log
deep-learning笔记.synctex.gz
d2l-zh.pdf
d2l-zh
voc-2012
.vscode
trial.py
Deep Learning by Ian Goodfellow, Yoshua Bengio, Aaron Courville (z-lib.org).pdf
mxnet_note/mxnet_note.aux
mxnet_note/mxnet_note.log
mxnet_note/mxnet_note.synctex.gz