deep-learning笔记.aux
deep-learning笔记.bbl
deep-learning笔记.blg
deep-learning笔记.log
deep-learning笔记.synctex.gz
deep-learning笔记.pdf
Deep Learning by Ian Goodfellow, Yoshua Bengio, Aaron Courville (z-lib.org).pdf